@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: inter;
}

@keyframes slideIn {
    from {
        transform: translateX(100%);
    }
    to {
        transform: translateX(0);
    }
}

@keyframes slideOut {
    from {
        transform: translateX(0);
        opacity: 1;
    }
    to {
        transform: translateX(100%);
        opacity: 0;
    }
}

.slide-in {
    animation: slideIn 0.1s ease-in-out;
}

.slide-out {
    animation: slideOut 0.1s ease-in-out;
}

header {
    position: sticky;
    top: 0;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    width: 100vw;
    height: 10vh;
    background-color: #0E374C;
    color: white;
}

#nav-itens {
    width: calc(60% - 4px);
    height: 100%;
    display: inline-flex;
    justify-content: center;
    flex-wrap: wrap;
    list-style: none;
}

.nav-item {
    min-width: 20%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0.6;
    transition: 0.3s;
    border-radius: 0 0 7px 7px;
    cursor: pointer;
}

.nav-item:hover {
    opacity: 1;
    background-color: #0C2A37;
}

.small-icon {
    width: 20px;
    cursor: pointer;
}

.medium-icon {
    width: 36px;
    cursor: pointer;
}

#menu-bar {
    background: #0C2A37;
    font-size: 16px;
    width: 30%;
    height: 90%;
    list-style: none;
    position: fixed;
    top: 10vh;
    right: 0;
}

#menu-bar > li {
    color: white;
    text-align: left;
    padding: 15px 30px; 
}  

@media only screen and (max-width: 500px) {
    html {
        overflow-x: hidden;
    }
    nav {
        justify-content: space-between;
        padding: 0 10%;
    }
}