@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600;700&display=swap');

@keyframes slideIn {
    from {
        transform: translateX(100%);
    }
    to {
        transform: translateX(0);
    }
}

@keyframes slideOut {
    from {
        transform: translateX(0);
        opacity: 1;
    }
    to {
        transform: translateX(100%);
        opacity: 0;
    }
}

.slide-in {
    animation: slideIn 0.1s ease-in-out;
}

.slide-out {
    animation: slideOut 0.1s ease-in-out;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: inter;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    width: 100vw;
    height: 10vh;
    background-color: rgb(176, 176, 176);
    position: sticky;
    top: 0;
}

#nav-itens {
    width: calc(60% - 4px);
    height: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    list-style: none;
}

.nav-item {
    width: 30%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0.6;
    transition: 0.3s;
    border-radius: 0 0 7px 7px;
    cursor: pointer;
}

.nav-item:hover {
    opacity: 1;
    background-color: rgb(186, 186, 186);
}

.small-icon {
    width: 20px;
    cursor: pointer;
}

.medium-icon {
    width: 36px;
    cursor: pointer;
}

#menu-bar {
    background: rgb(176, 176, 176);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
    font-family: sans-serif;
    font-size: 16px;
    float: right;
    width: 30%;
    list-style: none;
    position: sticky;
    top: 10vh;
}

#menu-bar > li {
    color: #333;
    text-align: left;
    padding: 6% 15%; 
}

@media only screen and (max-width: 500px) {
    nav {
        justify-content: space-between;
        padding: 0 10%;
    }
}